.form-phone-entrypage
  = render 'sessions/signup-header'

%main.number-mainbox
  %section.number-container
    %h2.number-container__head
      電話番号の確認
    = form_with url: phone_info_keep_path, class: "number-container__inner" do |f|
      .number-container__inner__number-box
        .number-container__inner__number-box__form_group
          = f.label :cell_phone, class: "cell_phone" do
            携帯電話の番号
          = f.text_field :cell_phone, placeholder: "携帯電話の番号を入力", class: "input-default", autofocus: true
        %p.number-container__inner__number-box__cell-text 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        %button{type: "submit", class: "number-container__inner__number-box__number-btn"}
          SMSを送信する
        %p.number-container__inner__number-box__btn-text ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .number-container__inner__number-box__form_group__text
          = link_to root_path,class: "number-container__inner__number-box__form_group__text__text-note" ,:target => "_blank" do
            電話番号の確認が必要な理由
            %i.fas.fa-chevron-right
= render './shared/common-footer';
