- breadcrumb :card

.card
  %main.card-main
    .card-main__right
      %section.card-main__container
        %h2.card-main__head 支払い方法
        .card-main__inner
          %section
            .card-main__content
              %h3.card-main__sub-head クレジットカード一覧
            %ul.sets-pay-list
          %section.sets-add__card
            .card-main__content
              %p.buy-user-info-text
                = "**** **** **** " + @default_card_information.last4
                %br/
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year
              %figure.pay
                = image_tag("/jcb.png",class:"credit-image")
              = form_tag(delete_users_path, method: :post) do
                %button.credit-remove
                  削除する
          .sets-not-regist
            = link_to "#" do
              %span 支払い方法について
              %i.fa.fa-chevron-right

    = render partial: 'shared/sidebar'