= render './shared/common-header';

.new-user-content
  .new-user-content__top
    %h2.new-user-content__top--text
      新規会員登録
  .new-user-content__bottom
    = link_to "#", class:"new-user-content__bottom--link" do
      .new-user-content__bottom--link__box--mail
        %p.new-user-content__bottom--link__box--mail-register
          =fa_icon 'envelope-o'
          メールアドレスで登録
    = link_to "#", class:"new-user-content__bottom--link" do
      .new-user-content__bottom--link__box--fb
        %p.new-user-content__bottom--link__box--fb-register
          =fa_icon 'facebook-square'
          Facebookで登録
    = link_to "#", class:"new-user-content__bottom--link" do
      .new-user-content__bottom--link__box--google
        %p.new-user-content__bottom--link__box--google-register
          = image_tag "https://img.icons8.com/color/48/000000/google-logo.png", class: "new-user-content__bottom--link__box--google-register-icon"
          Googleで登録

= render './shared/common-footer';
