<<<<<<< HEAD
%main.number-box
  %section.number-container
    %h2.number-container__head
      電話番号の確認
    %form.number-container__inner
      .number-box
        .form-group
          %label.cell_phone 携帯番号の番号
          %input.input-default{placeholder: "電話番号の入力", type: "tel"}/
        %p.cell-text 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        %button.number-btn{type: "submit"} SNSを送信する
        %p.btn-text ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .form-group__text
          = link_to '',class: "text-note" do
            電話番号の確認が必要な理由
            %i.fas.fa-chevron-right
=======
= render './shared/common-header';

.new-user-content
  .new-user-content__top
    %h2.new-user-content__top--text
      新規会員登録
  .new-user-content__bottom
    = link_to "#", class:"new-user-content__bottom--link" do
      .new-user-content__bottom--link__box--mail
        %p.new-user-content__bottom--link__box--mail-register
          =fa_icon 'envelope-o'
          メールアドレスで登録
    = link_to "#", class:"new-user-content__bottom--link" do
      .new-user-content__bottom--link__box--fb
        %p.new-user-content__bottom--link__box--fb-register
          =fa_icon 'facebook-square'
          Facebookで登録
    = link_to "#", class:"new-user-content__bottom--link" do
      .new-user-content__bottom--link__box--google
        %p.new-user-content__bottom--link__box--google-register
          = image_tag "https://img.icons8.com/color/48/000000/google-logo.png", class: "new-user-content__bottom--link__box--google-register-icon"
          Googleで登録

= render './shared/common-footer';
>>>>>>> master
