.mypage-container
  %section.user-details
    .user-details__image
      .user-details__image__text
        = link_to "",class:"avatar-box" do
          = image_tag("mercari.icon.png", class:"my-avatar")
          %h2.users-detail-title
            = @user.nickname
        .users_score
          %span.users_score__left 評価 100
          %span.users_score__right 出品数 100
    .user-details__white
      .user-details__white__ratings
        .users-ratings
          .users-ratings__detail
            %i.far.fa-smile-beam
            .users-ratings__detail__score
              100
        .users-ratings
          .users-ratings__detail
            %i.far.fa-grin
            .users-ratings__detail__score
              10
        .users-ratings__left
          .users-ratings__detail
            %i.far.fa-tired
            .users-ratings__detail__score
              5
      .user-details__white__description
        %p.user-description
          = @user.profile
    .user-details__media
      %ul.social-media-box
        %li.mypage-media
          = link_to "" do
            %i.fab.fa-facebook-square
        %li.mypage-media
          = link_to "" do
            %i.fab.fa-twitter-square
        %li.mypage-media
          = link_to "" do
            %i.fab.fa-line
    %section.user-details__items
      %h2.my-items-head
        この出品者の商品
      - @items.each do |item|
        .user-details__items__content
          %section.my-item__box
            = link_to "/items/#{item.id}", class:"my-item__box__link" do
              = image_tag item.images.first.image, class:"my-item-image"
              .my-item-body
                %h3.my-item-name
                  = item.name
                .my-item-num
                  .my-item-num__price
                    ¥ #{item.fee}
                  .font-my
                    %i.far.fa-heart
                    %span 10
                %p.my-item-tax (税込)
