.sideber
  %ul.sideber__list
    /サイドバー上
    %li
      = link_to "マイページ",users_path,class:"sideber__list__item active"
      %i.fa.fa-angle-right
    %li
      = link_to "お知らせ","#",class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "やることリスト","#",class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "いいね一覧","#",class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "出品する",new_item_path,class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "出品した商品 - 出品中",exhibition_path,class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "出品した商品 - 取引中","#",class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "出品した商品 - 売却済み",complete_path,class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "購入した商品 - 取引中","#",class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "購入した商品 - 過去の取引", purchased_path,class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "ニュース一覧","#",class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "評価一覧","#",class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "ガイド","#",class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "お問い合わせ","#",class:"sideber__list__item"
      %i.fa.fa-angle-right
  / サイドバー中
  %h3.sideber__head メルペイ
  %ul.sideber__list
    %li
      = link_to "売上・振込申請","#",class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "ポイント","#",class:"sideber__list__item"
      %i.fa.fa-angle-right
  / サイドバーshita
  %h3.sideber__head 設定
  %ul.sideber__list
    %li
      = link_to "プロフィール",profile_path,class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "住所変更","#",class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "支払い方法",card_users_path, class:"sideber__list__item", method: :post
      %i.fa.fa-angle-right
    %li
      = link_to "メール/パスワード","#",class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "本人情報",identity_path,class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "電話番号の確認","#",class:"sideber__list__item"
      %i.fa.fa-angle-right
    %li
      = link_to "ログアウト",logout_path,class:"sideber__list__item"
      %i.fa.fa-angle-right
