.sideber
  %ul.sideber__list
    /サイドバー上
    %li
      = link_to users_path,class:"sideber__list__item active" do
        マイページ
        %i.fa.fa-angle-right
    %li
      = link_to "#",class:"sideber__list__item" do
        お知らせ
        %i.fa.fa-angle-right
    %li
      = link_to "#",class:"sideber__list__item" do
        やることリスト
        %i.fa.fa-angle-right
    %li
      = link_to "#",class:"sideber__list__item" do
        いいね一覧
        %i.fa.fa-angle-right
    %li
      = link_to new_item_path,class:"sideber__list__item" do
        出品する
        %i.fa.fa-angle-right
    %li
      = link_to exhibition_path,class:"sideber__list__item" do
        出品した商品 - 出品中
        %i.fa.fa-angle-right
    %li
      = link_to "#",class:"sideber__list__item" do
        出品した商品 - 取引中
        %i.fa.fa-angle-right
    %li
      = link_to complete_path,class:"sideber__list__item" do
        出品した商品 - 売却済み
        %i.fa.fa-angle-right
    %li
      = link_to purchaselist_path,class:"sideber__list__item" do
        購入した商品 - 取引中
        %i.fa.fa-angle-right
    %li
      = link_to purchasedlist_path,class:"sideber__list__item" do
        購入した商品 - 過去の取引
        %i.fa.fa-angle-right
    %li
      = link_to "#",class:"sideber__list__item" do
        ニュース一覧
        %i.fa.fa-angle-right
    %li
      = link_to "#",class:"sideber__list__item" do
        評価一覧
        %i.fa.fa-angle-right
    %li
      = link_to "#",class:"sideber__list__item" do
        ガイド
        %i.fa.fa-angle-right
    %li
      = link_to "#",class:"sideber__list__item" do
        お問い合わせ
        %i.fa.fa-angle-right
  / サイドバー中
  %h3.sideber__head メルペイ
  %ul.sideber__list
    %li
      = link_to "#",class:"sideber__list__item" do
        売上・振込申請
        %i.fa.fa-angle-right
    %li
      = link_to "#",class:"sideber__list__item" do
        ポイント
        %i.fa.fa-angle-right
  / サイドバーshita
  %h3.sideber__head 設定
  %ul.sideber__list
    %li
      = link_to profile_path,class:"sideber__list__item" do
        プロフィール
        %i.fa.fa-angle-right
    %li
      = link_to "#",class:"sideber__list__item" do
        住所変更
        %i.fa.fa-angle-right
    %li
      = link_to card_users_path, class:"sideber__list__item", method: :post do
        支払い方法
        %i.fa.fa-angle-right
    %li
      = link_to "#",class:"sideber__list__item" do
        メール/パスワード
        %i.fa.fa-angle-right
    %li
      = link_to identity_path,class:"sideber__list__item" do
        本人情報
        %i.fa.fa-angle-right
    %li
      = link_to "#",class:"sideber__list__item" do
        電話番号の確認
        %i.fa.fa-angle-right
    %li
      = link_to logout_path,class:"sideber__list__item" do
        ログアウト
        %i.fa.fa-angle-right
