.pickup-container__items-container
  %h3.category
    = link_to "新着アイテム", "", class:"index"
  = link_to "" do
    .items-box-content
      .items-box-content__box__photo
        = image_tag '/111.jpg',class:"tops"
      .items-box-content__box__body
        %h3.items-name
          アイテム
        .items-num
          .items-num__price
            ¥ 1,200
          .items-num__likes
            %i.fa.fa-heart
            %span.like 1
          %p (税込)
  = link_to "" do
    .items-box-content
      .items-box-content__box__photo
        = image_tag '/111.jpg',class:"tops"
      .items-box-content__box__body
        %h3.items-name
          アイテム
        .items-num
          .items-num__price
            ¥ 1,200
          .items-num__likes
            %i.fa.fa-heart
            %span.like 1
          %p (税込)
  = link_to "" do
    .items-box-content
      .items-box-content__box__photo
        = image_tag '/111.jpg',class:"tops"
      .items-box-content__box__body
        %h3.items-name
          アイテム
        .items-num
          .items-num__price
            ¥ 1,200
          .items-num__likes
            %i.fa.fa-heart
            %span.like 1
          %p (税込)
  = link_to "" do
    .items-box-content
      .items-box-content__box__photo
        = image_tag '/111.jpg',class:"tops"
      .items-box-content__box__body
        %h3.items-name
          アイテム
        .items-num
          .items-num__price
            ¥ 1,200
          .items-num__likes
            %i.fa.fa-heart
            %span.like 1
          %p (税込)
  .items-all
    = link_to '',class: "items-all" do
      全ての商品を見る
