=render partial: "header"
.container
  %div
  .advertisement
    = image_tag '/メルカリ2.jpg',class:'advertisement__1'
  .pickup-container
    %h2 ピックアップカテゴリー
    .pickup-container__items-container
      = render partial: "root"
      = render partial: "root"
      = render partial: "root"
      = render partial: "root"
    .pickup-container
      %h2 ピックアップブランド
      .pickup-container__items-container
        = render partial: "root"
        = render partial: "root"
        = render partial: "root"
        = render partial: "root"
=render partial: "footer"
