.container
  .pickup-container
    %h2 ピックアップカテゴリー
    .pickup-container__items-container
      = render partial: "root"
      = render partial: "root"
      = render partial: "root"
      = render partial: "root"
    .pickup-container
      %h2 ピックアップブランド
      .pickup-container__items-container
        = render partial: "root"
        = render partial: "root"
        = render partial: "root"
        = render partial: "root"
      %div
        .advertisement
          %img.advertisement__1{src: "メルカリ2.jpg"}/
          %img.advertisement__2{src: "メルカリ.jpg"}/
