<div class="container">
  <div class="pickup-container">
    <h2>ピックアップカテゴリー</h2>
    <div class="pickup-container__items-container">
      <%= render partial: "root" %>
      <%= render partial: "root" %>
      <%= render partial: "root" %>
      <%= render partial: "root" %>
    </div>
  <div class="pickup-container">
    <h2>ピックアップブランド</h2>
    <div class="pickup-container__items-container">
      <%= render partial: "root" %>
      <%= render partial: "root" %>
      <%= render partial: "root" %>
      <%= render partial: "root" %>
    </div>
  <div>
  <div class="advertisement">
    <img src="メルカリ2.jpg" class="advertisement__1">
    <img src="メルカリ.jpg" class="advertisement__2">
  </div>
</div>
