%h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "current-password"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit "Log in"
= render "devise/shared/links"
= render './shared/common-header';

.account
  .account__top
    %p.account__top--text
      アカウントをお持ちでない方はこちら
    = link_to new_user_session_path, class:"account__top--text--link" do
      .account__top--text--link__box
        %p.account__top--text--link__box--text
          新規会員登録

  .account__bottom
    = link_to "#", class:"account__bottom--link" do
      .account__bottom--link__box--fb
        %p.account__bottom--link__box--fb-login
          =fa_icon 'facebook-square'
          Facebookでログイン
      .account__bottom--link__box--google
        %p.account__bottom--link__box--google-login
          = image_tag "https://img.icons8.com/color/48/000000/google-logo.png", class: "account__bottom--link__box--google-login-icon"
          Googleでログイン

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form
      .form__box
        = f.email_field :email, placeholder: "メールアドレス", type: "text", name: "email", value: "", class: "form__box--input"
      .form__box
        = f.password_field :password, placeholder: "パスワード", type: "text", name: "password", value: "", class: "form__box--input"
      = recaptcha_tags
      = f.submit "ログイン", class: "form__btn" do
        ログイン
      = link_to "#", class: "form__link" do
        %P.form__link--text
          パスワードをお忘れの方

= render './shared/common-footer';