= render './shared/common-header';

.account
  .account__top{"data-turbolinks": "false"}
    %p.account__top--text
      アカウントをお持ちでない方はこちら
    = link_to new_user_registration_path, class:"account__top--text--link" do
      .account__top--text--link__box
        %p.account__top--text--link__box--text
          新規会員登録

  .account__bottom{"data-turbolinks": "false"}
    = link_to user_facebook_omniauth_authorize_path, class:"account__bottom--link" do
      .account__bottom--link__box--fb
        %p.account__bottom--link__box--fb-login
          =fa_icon 'facebook-square'
          Facebookでログイン
    = link_to user_google_oauth2_omniauth_authorize_path, class:"account__bottom--link" do      
      .account__bottom--link__box--google
        %p.account__bottom--link__box--google-login
          = image_tag "https://img.icons8.com/color/48/000000/google-logo.png", class: "account__bottom--link__box--google-login-icon"
          Googleでログイン
    .account__bottom--err
    - if flash[:need_new_account]
      .account__bottom--err--dupl-email
        = flash[:need_new_account]

  = form_for(resource, as: resource_name, url: login_path(resource_name)) do |f|
    .form
      .form__box
        = f.email_field :email, placeholder: "メールアドレス", type: "text", name: "email", value: "", class: "form__box--input-email"
      -# エラーメッセージ表示
      .err_email-login
      .form__box
        = f.password_field :password, placeholder: "パスワード", type: "password", name: "password", value: "", class: "form__box--input-password"
      -# エラーメッセージ表示
      .err_password-login
      -# = recaptcha_tags
      %button.form__btn{type: "submit"} ログイン
      = link_to "", class: "form__link" do
        %p.form__link--text
          パスワードをお忘れの方

= render './shared/common-footer';
