.container
  %section.item-container
    %h1.item-container__name
      = @item.name
    .item-content
      .item-content__photo
        .owl-carousel
          = image_tag @item.images.first.image.url,class:'owl-lazy'
        - if @images
          - @images.each do |image|
            .owl-dot
              = image_tag image.image.url, class:'sub-photo'
    %table.item-detail
      %tbody
        %tr
          %th 出品者
          %td
            =  link_to @item.user.nickname, "/users/#{ @item.user_id }", class:"div"
            %div
              .item-user-ratings
                %i.far.fa-smile-beam
                %span 1
              .item-user-ratings
                %i.far.fa-grin
                %span 1
              .item-user-ratings
                %i.far.fa-tired
                %span 1
        %tr
          %th カテゴリー
          %td
            = link_to @item.category.name, "", class: "div"
        %tr
          %th ブランド
          %td
            = @item.brand
        %tr
          %th 商品のサイズ
          %td
            = @item.size
        %tr
          %th 商品の状態
          %td
            = @item.condition
        %tr
          %th 配送料の負担
          %td
            = @item.shipping_fee
        %tr
          %th 配送の方法
          %td
            = @item.delivery
        %tr
          %th 配送元地域
          %td
            = @prefecture.name
        %tr
          %th 配送日の目安
          %td
            = @item.days
    .item-price-box
      %span.item-fee
        ¥ #{@item.fee}
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    = link_to "/purchase/index/items/#{@item.id}", class:"item-btn" do
      購入画面に進む
    .item-description
      %p.item-description__inner
        = @item.description
    .item-button
      .item-button__left
        = render partial: 'likes/like', locals: { item: @item, items: @items, likes: @likes, like: @like}
      .item-button__right
        = link_to '',class: "item-key" do
          %i.fas.fa-lock
          %span.key あんしん・あんぜんへの取り組み
  - if user_signed_in? && current_user.id == @item.user_id
    .principal{"data-turbolinks": "false"}
      = link_to '商品の編集', edit_item_path(@item), class: 'principal__tab'
      %p or
      = link_to '出品を一旦停止する', '', class: 'principal__tab--gray'
      %button#modal-open-btn この商品を削除する
      = link_to '', item_path(@item), method: :delete, id: 'item-delete-btn', class: 'principal__tab--gray'
      #overlay
        #modalWindow
          .modal-message-box
            %div 確認
            %div 本当に削除しますか？
          %button#modal-close-btn キャンセル
          %button#delete-comformation-btn 削除する


  .item-detail-message
    .message-container
      - if @comments
        - @comments.each do |comment|
          .comment-content
            .comment-items
              .comment-items__box
                = link_to '',class:"comment-avatar" do
                  = image_tag("/mercari.icon.png", class:"comment-img")
                %p.comment-user-name
                  = comment.user.nickname
                .comment-body
                  .comment-body__text
                    = comment.content
      .message-content
        - if current_user
          = form_tag("/items/#{@item.id}/comments", method: :post,class:"message-form") do
            %input.detail-message{type: "hidden"}/
            %p.input-p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %textarea.textarea-default{type: "text",name:"content"}
            %button.comment-submit{type: "submit"}
              %span.comment コメントする
  %ul.nav-item
    %li.nav-item-link-prev
      = link_to '',class: "nav-icon" do
        %i.fas.fa-chevron-left
        アウター
    %li.nav-item-link-next
      = link_to '',class: "nav-icon" do
        パンツ
        %i.fas.fa-chevron-right
  .item-social-media-box
    %ul.social-media-box
      %li.media
        = link_to '',class: "share-btn" do
          %i.fab.fa-facebook-square
      %li.media
        = link_to '',class: "share-btn" do
          %i.fab.fa-twitter-square
      %li.media
        = link_to '',class: "share-btn" do
          %i.fab.fa-line
      %li.media
        = link_to '',class: "share-btn" do
          %i.fab.fa-pinterest-square
