!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title= content_for?(:title) ? yield(:title) : "FreemarketSample51d"
    = csrf_meta_tags
    = csp_meta_tag
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{crossorigin: "anonymous", href: "https://use.fontawesome.com/releases/v5.8.2/css/all.css", integrity: "sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", rel: "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
    = render partial: 'home/header'
    %nav.bread-crumbs
      %ul
        %li= breadcrumbs separator: "#{content_tag(:i, '', :class=>'fas fa-chevron-right')}"
    %main
    = yield
    %footer
    = render partial: 'home/footer'
